.layout {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: peru;
  background-image: url("/signin-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
